<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>yoonsome</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {%block css%}{%endblock%}
</head>
<body>
    <div id="info">
        &nbsp;#&nbsp;note to write some thinking of today.
    </div>
    <div class="banner_button">
        {% block button %}{%endblock%}
    </div>
    {% block content %} {% endblock%}
</body>
</html>