{% extends 'base_home.html' %}
{%block css%}
{%load static %}
<link rel="stylesheet" href="{% static "blogapp/style_home.css" %}">
{%endblock%}

{%block button %}
<button type="button" id="post">👨🏻‍🦲 {{user}}</button>
<button type="button" id="post" onclick="location.href='/post/'">post</button>
<button type="button" id="logout" onclick="location.href='/logout'">{{login}}</button>
{%endblock%}

{% block content %}
<div class="profile">
    {%load static %}
    <img src="{%static 'blogapp/light..png' %}" class = "profile_img">
    <div id="ment">Welcome here, yoonsome.</div>
</div>

<div class="body_box">
    <div class ="post_card" style="display:flex; flex-wrap: wrap; width: 80vw; margin: 0 auto;">
        {% for blog in posts %}
        <div class="card" style="width: 24vw;margin: 12px;">
            <div class="img_card">
                {% for photo in blog.photo_set.all%}
                <img src="{{photo.image.url}}" class="card-img-top alt image" alt="photo"><br>
                {% endfor %}
                <div class="image_tag"># {{blog.get_tag_display}}</div>
            </div>
            
            <div class="card-body">
                <h3 class="card-title">{{blog.title}}</h3>
                <p class="card-text">{{blog.pub_date}}</p>
                <p class="card-text">{{blog.summary}}</p>
                <p class="card-text">@{{blog.writer}}</p>
                <a href="{% url 'detail' blog.id %}" class="btn btn-primary">Show more</a>
            </div>
        </div>
    {%endfor%}
    </div>

    <div class="page">
        {% if posts.has_previous %}
        <a href="?page=1">[ first ]</a>
        <a href="?page={{posts.previous_page_number}}">[ prev page ]</a>
        {% endif %}
        <span>{{posts.number}}</span>
        <span>/</span>
        <span>{{posts.paginator.num_pages}}</span>
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">[ next page ]</a>
        <a href="?page={{posts.paginator.num_pages}}">[ last ]</a>
        {% endif %}
    </div>
</div>

{%endblock%}