{% extends 'base_home.html' %}

{%block css%}
{%load static %}
<link rel="stylesheet" href="{% static "blogapp/style_post.css" %}">
{%endblock%}

{%block button %}
<button type="button" id="home" onclick="location.href='/home/'">home</button>
{%endblock%}
{% block content %}
<div class="ment_parent">
    <div id="_ment">Welcome here, yoonsome.</div>
</div>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data" class="post_parent">
    {% csrf_token %}
    <div class="post_section">
        <div class="post_head">
            <select name="tag" id="post_tag"  name='tag' required>
                <option value="da" selected>daily</option>
                <option value="me">memo</option>
                <option value="th">think</option>
                <option value="wi">wish</option>
            </select>
            <input type="text" name="title" id="post_title" placeholder="title" required/>
        </div>
        <div class="post_body">
            <textarea name="body" id="text_body_input" required></textarea>
            <input type="file" id="file" name="imgs" value="add file."/>
        </div>
        <input type="submit" id="submit" value="post">
        <button type="cancel" id="cancel" onclick="location.href='/home/'">cancel</button>
    </div>
</form>


{%endblock%}