{% extends 'base_home.html' %}

{%block css%}
{%load static %}
<link rel="stylesheet" href="{% static "blogapp/style_post.css" %}">
{%endblock%}

{%block button %}
<button type="button" id="home" onclick="location.href='/home/'">home</button>
{%endblock%}
{% block content %}

<div class="ment_parent">
    <div id="_ment">Welcome here, yoonsome.</div>
</div>
<div class="post_parent">
    <div class="post_section">
        <div class="post_head">
            <input type="text" id="post_tag" value="{{blog.get_tag_display}}" readonly>
            <div id="post_title">{{blog.title}}</div>
        </div>
        <div class="post_body">
            {% for photo in blog.photo_set.all%}
            <img src="{{photo.image.url}}" id="body_image" class="card-img-top alt image" alt="photo"><br>
            {% endfor %}
            <textarea id="text_body" readonly>{{blog.body}}
            </textarea>
            <div>
                <button type="button" onclick="location.href='/home/'"id="back" >back</button>
                {% if user.username == blog.writer %}
                <button type="button" onclick="location.href='{% url 'edit' blog.id %}'" id="edit" >edit</button>
                <button type="button" onclick="location.href='{% url 'delete' blog.id %}'" id="edit" >delete</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{%endblock%}