html{height: 100%;}
body{
    margin: 0px;
    background-image: url("tile.jpg");
    background-repeat: repeat;
    height: 100%;
}
#info{
    background-color:rgb(224, 224, 224);
    font-size: 24px;
    color:rgb(107, 107, 107);
    font-family: 'Crete Round', serif;
    padding: 10px;
    padding-left: 20px;
}

.banner_button{
    display: inline;
    margin-top:20px;
    display:flex;
    flex-direction: row nowrap;
    justify-content: flex-end;
}

#post, #logout, #home {
    background-color: white;
	border-color: #333;
	color: #333; 
    font-size: 18px;
    font-family: 'Crete Round', serif;
    padding: 9px 18px;
    margin-right: 15px;
}

#post:hover, #logout:hover, #home:hover{
    background-color: #333;
	border: 2px solid #333;
    color: #fff;
}

.profile{
    display:inline-flex;
    flex-flow: row wrap;
    margin: 70px 50px 70px 100px;
    border-bottom: rgb(192, 192, 192) solid 2px;
}

.profile_img{
    width: 17%;
    margin-bottom: 15px;
    margin-left: 30px;
}

.profile > #ment{
    color:rgb(75, 75, 75);
    position: absolute;
    top:290px;
    left: 300px;
    font-size: 40px;
    font-family: 'Crete Round', serif;
    font-weight: 800;
    margin-bottom: 30px;
}

.log{
    max-width: 2000px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

ul{
    font-size: 0px;
    padding:0px;
}

ul > li{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

ul > li > a{
    font-family: 'Do Hyeon', sans-serif;
    display:block;
    width: auto;
    text-decoration: none;
    margin: 10px;
}

ul > li > a .image{
    position: relative;
    overflow: hidden;
}

ul > li > a .image .image_tag{
    position: absolute;
    bottom: 150%;
    left:30px;
    z-index: 2;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Crete Round', serif;
}

ul > li > a .image{
    width: 100%;
}

ul > li > a h3{
    font-size:  35px;
    text-align: center;
    color:black;
    font-weight: 300;
    margin-bottom: 0px;
}

ul > li > a h5{
    font-size: 26px;
    text-align: center;
    color:gray;
    font-weight:100;
    margin-top: 5px;
}
img{
    width: 100%;
    height: 100%;
}

ul > li > a:hover .image_tag{
    font-size: 50px;
    color: rgb(255, 255, 255);
    bottom: 50%;
    transition:all .40s;
}

ul > li > a .image::after{
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.6);
    z-index: 1;
    opacity: 0;
    transition: all .40s;
}

ul > li > a:hover .image::after{
    opacity: 1;
}

@media(max-width:1020px){
    .profile > #ment{
        position:static;
    }
}